*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
nav ul , li , a {
    display: flex;
    margin-left: 10px;
    list-style-type: none;
    text-decoration: none;
    color: white;
}
nav{
    flex: 1;
    display: flex;
    align-items: center;
    border-radius: 20px;
    margin: 1px 24px;
    background-color: #333;
}
.container{
    flex: 9;
    background-color: #f1f1f1;
    padding: 20px;
}
.boxs:nth-child(1){
    display: flex;
    flex: 1;
    font-size: 20px;
}
.boxs:nth-child(1) .box:nth-child(1){
    flex-grow: 2;
}
.box{
    flex-grow: 1;
    padding: 10px;
    background-color: #c9aeae;
    border: 1px solid #000;
    border-radius: 10px;
    border: none;
    height: 35vh;
    margin: 10px;
    box-shadow:  5px 5px 5px rgba(0, 0, 0, 0.3)
}
.boxs:nth-child(2){
    display: flex;
    flex: 3;
}
.boxs:nth-child(2) .box:nth-child(3){
    flex-grow: 2;
}
